@font-face {
    font-family: "NAMU-1990";
    src: url("assets/NAMU-1990.ttf") format("truetype");
}

@font-face {
    font-family: "NAMU-1910";
    src: url("assets/NAMU-1910.ttf") format("truetype");
}

div.avatar {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 13px;
    top: 13px;

    background: rgba(153, 153, 153, 0.6);
    box-shadow: 0 4px 30px 5px rgba(0, 0, 0, 0.1);
    border-radius: 70px;
}

div.stats-avatar {
    width: 45px;
    height: 45px;
    left: auto;
    top: auto;

    background: rgba(153, 153, 153, 0.6);
    box-shadow: 0 4px 30px 5px rgba(0, 0, 0, 0.1);
    border-radius: 70px;
}

img.avatar {
    width: 45px;
    height: 45px;
    border-radius: 70px;
}

p.avatar {
    position: absolute;
    left: 70px;
    top: 8px;

    font-family: "NAMU-1990";
    font-style: normal;
    font-weight: 1100;
    font-size: 27px;
    line-height: 1px;
    /* identical to box height */
    display: flex;
    align-items: center;

    color: #FFFFFF;

}

p.stats-avatar {
    font-family: "NAMU-1990";
    font-style: normal;
    font-weight: 1100;
    font-size: 27px;
    line-height: 1px;
    /* identical to box height */

    color: #FFFFFF;

}

div.stats {
    font-family: "NAMU-1990";
    font-size: 30px;
    color: #FFFFFF;
    width: 800px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

hr.stats {
    width: 800px;
    border: 1px solid #FFFFFF;
    margin-bottom: 1px;
    margin-top: 1px;

}

p.stat-type {
    float:left;
    width:40%;
    font-weight: 600;
    margin-left: 30px;
    margin-right: auto;
}

p.stat-val {
    float:right;
    width:40%;
    font-weight: 1800;
    margin-right: 30px;
    margin-left: auto;
}

body {
    background: linear-gradient(180deg, #0B9922 -20.23%, #066616 117.55%) fixed;
}

h1 {
    font-family: "NAMU-1910";
    font-size: 50px;
    text-align: center;
    color: white;
    margin-top: 10px;
    font-weight: 500;
}

form.home {
    width: 352px;
    height: 74px;


    background: rgba(221, 221, 221, 0.5);
    box-shadow: 0px 0px 41px 6px rgba(0, 0, 0, 0.1);
    border-radius: 50px;


    margin: 5px auto;
}

input.home {
    width: 352px;
    height: 74px;

    background: transparent;
    border: none !important;

    font-family: "NAMU-1990";
    font-size: 30px;
    color: white;
}

div.home {
    margin-top: 110px;
}

img.logo {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}