{% extends 'base.html' %}

{% block title %}
Игра
{% endblock %}

{% block body %}
<h1>Игра</h1>
<div class="download" align="center">
        <p>Для того, чтобы сыграть, установите приложение:</p>
        <form action="/download_win" class="home">
                <input type="submit" value="Windows" class="home"/>
        </form>
        <form action="/download_macos" class="home">
                <input type="submit" value="MacOS" class="home"/>
        </form>
        <p>Уже установили? Заходите в игру!</p>
        <form action="../client.py" class="home">
                <input type="submit" value="Играть" class="home"/>
        </form>
        <form action="/" class="home" style="margin-top:10%;">
                <input type="submit" value="Назад" class="home"/>
        </form>
</div>
{% endblock %}