{% extends 'base.html' %}

{% block title %}
Игра
{% endblock %}

{% block body %}
<h1>Игра</h1>
<div class="download" align="center">
        <p>Для того, чтобы сыграть, установите приложение:</p>
        <form action="/download_win" class="home">
                <input type="submit" value="Windows" class="home"/>
        </form>
        <form action="/download_macos" class="home">
                <input type="submit" value="MacOS" class="home"/>
        </form>
        <p>Уже установили? Копируйте свой код и вставляйте в игре!</p>
        <form onclick="clip_div('pa')" class="home">
                <input type="submit" value="Получить код" class="home"/>
        </form>
        <div id = "pa" style="opacity: 0">{{out}}</div>
        <form action="/" class="home" style="margin-top:8%;">
                <input type="submit" value="Назад" class="home"/>
        </form>
</div>
{% endblock %}