{% extends 'base.html' %}

{% block title %}
Игра
{% endblock %}

{% block body %}
<h1>дурак онлайн</h1>
<div class="home" align="center">
        <form action="gamepage" method="post" class="home">
                <input type="submit" value="Выигрыш" name="win" class="home"/>
        </form>
        <form action="gamepage" method="post" class="home">
                <input type="submit" value="Проигрыш" name ="lose" class="home"/>
        </form>
        <form action="/" class="home">
                <input type="submit" value="Назад" class="home"/>
        </form>
</div>
{% endblock %}