{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="avatar">
    <img class="avatar" src="../static/assets/default.png">
</div>
<p class="avatar">{{out}}</p>
<img src="../static/assets/logo.png" class="logo" alt="logo" align="center">
<h1>ШУЛЕР<br>Онлайн alpha</h1>
<div class="home" align="center">
    <form action="gamepage" class="home">
        <input type="submit" value="Играть" class="home"/>
    </form>
    <br>
    <form action="stats" class="home">
        <input type="submit" value="Статистика" class="home"/>
    </form>
    <br>
    <form action="settings" class="home">
        <input type="submit" value="Настройки" class="home"/>
    </form>
    <br>
    {% if state == 0 %}
    <button><a href="signup">Регистрация</a></button>
    <button><a href="signin">Вход</a></button>
    {% else %}
    <button><a href="logout">Выход</a></button>
    {% endif %}
</div>
{% endblock %}