{% extends 'base.html' %}

{% block title %}
Статистика
{% endblock %}

{% block body %}
<h1>Статистика</h1>
{%if out_user != "Not logged in"%}
<div class="stats" align="center">
{%else%}
    <div class="stats" align="center" style="position:absolute;z-index:2;width: 99%;margin-left:0;font-weight: 400;">
        <img src="../static/assets/shulerid.png" style="height:60px;margin-top: 220px;margin-left: auto;">
        <p>Авторизуйтесь для просмотра статистики</p>
    </div>
<div class="stats" align="center" style="filter: blur(10px);position:relative;z-index:1;">
{%endif%}
    <div class="stats-avatar">
        <img class="avatar" src="../static/assets/default.png">
    </div>
    <p class="stats-avatar">{{out_user}}</p>
    <p class="stat-type" align="left">Всего игр</p>
    <p class="stat-val" align="right">{{out_g}}</p>
    <hr class="stats">
    <p class="stat-type" align="left">Побед</p>
    <p class="stat-val" align="right">{{out_w}}</p>
    <hr class="stats">
    <p class="stat-type" align="left">Поражений</p>
    <p class="stat-val" align="right">{{out_l}}</p>
    <hr class="stats">
    <p class="stat-type" align="left">Игр с помощником</p>
    <p class="stat-val" align="right">{{out_c}}</p>
    <br>
</div>
<br>
<form action="/" class="home">
    <input type="submit" value="Назад" class="home"/>
</form>
{% endblock %}